extends layout

block content
  h1= title
  p Welcome to index page#{title}
  input(type="submit", value="go to articles", onclick="window.location.replace('app')")
  input(type="submit", value="go to news feed", onclick="window.location.replace('news')")
